<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chapter8_x.dao.StudentDao">
  <resultMap id="BaseResultMap" type="chapter8_x.entity.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="card_id" jdbcType="INTEGER" property="cardId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
<!--     fetchType lazy/eager 延时加载/立即加载
    一对一
    <association property="studentCard" column="id" select="com.ahut.core.chapter4_24.dao.StudentCardMapper.findStudentCardByStudentNo" fetchType="lazy"/>
 	一对多
 	<collection property="list" column="id" select="com.ahut.core.chapter4_24.dao.ScoreMapper.findStudentScoreByStuId" fetchType="eager"/>
  	鉴别器级联
  	<discriminator javaType="String" column="sex">
  		<case value="男" resultMap="maleStudentMap"/>
  		<case value="女" resultMap="femaleStudentMap"/>
  	</discriminator> -->
  </resultMap>
  <sql id="Base_Column_List">
    id, name, sex, card_id, remark
  </sql>
  

  
  <select id="getStudent" parameterType="Integer" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/>
  	from student where id=#{id}
  </select>
  

  <cache eviction="LRU" flushInterval="100000" size="1024" readOnly="true"/>
</mapper>